@import './fonts/proxima-nova/fonts.css';

body {
  font-family: 'Proxima Nova';
  box-sizing: border-box;
  margin-top: 3%;
}
a {
  text-decoration: none;
}

.card-shadow {
  background-color: #fff;
  padding: 1.9rem;
  filter: drop-shadow(0px 4px 5px rgba(219, 221, 227, 0.5));
}

.nav-active {
  font-weight: bold;
  color: #7d60ff !important;
}
.nav-link {
  padding: 5px;
  color: #6d6c79;
  &:active {
    @extend .nav-active;
  }
}

.over-img {
  // width: 320px;
  // min-height: 160px;
  background-color: #edeafa;
  img {
    border-radius: 10px;
  }
}

.user-info {
  position: relative;
  .btm-follow {
    position: absolute;
    bottom: 0;
    span {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .user-info {
    position: unset;
  }
}

.play-nav {
  width: 40px;
  cursor: pointer;
  position: relative;
  height: 40px;
  border: 1px solid #7d60ff;
  border-radius: 25px;
  img {
    right: 15px;
    top: 12px;
    position: absolute;
  }
}
.play-nav-left {
  float: right;
  img {
    transform: rotate(180deg);
  }
}

.featured-card {
  width: 200px;
  padding: 0;
  filter: drop-shadow(0px 8px 10px rgba(152, 152, 187, 0.15));
  border: 1px solid #f8f8ff;
  border-radius: 5px !important;
  .feat-list-btn {
    border-radius: 0;
    justify-content: start;
    color: #6d6c79;
    &:hover {
      color: #fff;
      background-color: #7d60ff;
    }
    span {
      font-size: 0.9rem;
      padding: 0 0.5rem;
    }
  }
}
